body{font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	background-color: #281910;
	background-image: url('img/top-shadow.png');
	background-position: top right; 
	background-repeat: no-repeat;
	background-attachment: fixed; 
}
a{
	color: #FFFFFF;
}
h2{
	font-size: 18px;
	color: #999999;
}
h3{
	font-size: 16px;
	margin-bottom: -3px;
	border-bottom: #432A09 solid 2px;
}
hr{
	width: 97%;
	color: #999999;
	background-color: #999999;
}
.wrap-out{
	text-align: left;
	display: inline-block;
	width: 965px;
	margin-bottom: 30px;
}
.title{
	margin: 30px 15px -25px 20px ;
	z-index: 4;
	display: inline-block;
}
.title img{
	margin-bottom: -38px;
	border: none;
}
.banner{
	height: 140px;
	width: 520px;
	text-align: right;
	background-image: url('img/banner.png');
	margin:auto auto -60px 440px;
	z-index: 2;
}
.menu-bar{
	text-align: right;
	height: 50px;
	width: 100%;
	margin-bottom: 15px;
	background-image: url('img/menu-bar.png');
	background-repeat: repeat-y; 
	z-index: 3;
}
.button{
	text-align: center;
	width: 68px;
	font-size: 15px;
	font-weight: bold;
	line-height: 23px;
	padding: 6px 10px 12px 30px;
	text-shadow: #000000 0 0 7px;
	filter: glow(color=#000000,strength=4);
	display: inline-block;
}
.button a:hover{
	color: #E0E0DA;
}
.button a{
	color: #ffffff;
	text-decoration: none;
}
#wrap-in{
	background-color: #231301;
	background-image: url('img/footer.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	border: #633A09 outset 3px;
	z-index:1;
}
.main-graphic{
	text-align: center;
	vertical-align: top;
	padding-bottom: 60px;
	display: inline-block;
}
#main-graphic-about{
	width: 450px;
}
#main-graphic-products1, #main-graphic-products2{
	width: 300px;
}
#main-graphic-products1 img, #main-graphic-products2 img{
	cursor: pointer;
}
.main-graphic img, .main-text img{
	margin: 30px 15px 0 15px;
	padding: 10px;
	border: #633A09 solid 1px;
}{
	margin: 30px 15px 0 15px;
	padding: 10px;
	border: #633A09 solid 1px;
}

/*產品展示*/
#show-image{
	text-align: center;
	position: fixed;
	width: 100%;
	height: 100%;
}
#show-image img{
	cursor: pointer;
	margin-top: -30px;
	padding: 3px;
	border: #FFFFFF solid 2px;
}

/*製作流程輪播*/
#main-slideshow, #slideshow-menu{
	height: 400px;
	position: relative;
}
#slideshow-menu img{
	position: absolute;
	cursor: pointer;
	border: none;
}
#slideshow-loading{
	left: 0;
}
#slideshow-play{
	top: 100px;
	left: 160px;
}
#slideshow-previous{
	display: none;
	top: 280px;
	left: 0;
}
#slideshow-next{
	display: none;
	top: 280px;
	right: 0;
}
#slideshow-text{
	position: absolute;
	color: #FEF8B9;
	top: 330px;
	width: 100%;
	text-align: center;
	text-shadow: #000000 0 0 9px;
	filter: glow(color=#000000,strength=4);
}
.slideshow{
	display: block;
	position: absolute;
}

/*主要文字*/
.main-text{
	line-height: 28px;
	padding-bottom: 60px;
	display: inline-block;
	position: relative;
	height: 100%;
}
.b-button{
	text-align: center;
	width: 80px;
	color: #CCC;
	background-color: #210;
	border: #999 solid 1px;
	padding: 1px;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 330px;
	top: 150px;
}
#main-text-about{
	width: 480px;
}
#main-text-products{
	width: 350px;
}

.chinese{
	width: 500px;
}

.chinese h3, .english h3{
	display: inline-block;
	width: 250px;
}

#qr{
	border: #999 solid 2px;
	position: absolute;
	top: 170px;
	left: 300px;
}
